body {
	background-image: url('/static/img/background-left.png'), url('/static/img/background-right.png'), url('/static/img/background.png');
	background-repeat: repeat-y, repeat-y, repeat;
	background-position: left center,  right center, center center;
}