body {
  background-image: url('/static/img/top-bar.png'), url('/static/img/background-left.png'), url('/static/img/background-right.png'), url('/static/img/background.png');
  background-repeat: repeat-x, repeat-y, repeat-y, repeat;
  background-position: center top, left center,  right center, center center;
  font-family: "museo-sans",sans-serif;
}
#logo {
  width: 600px;
  height: 200px;
  background: url('/static/img/logo.png');
  margin: 50px auto 5px;
}
.filter {
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 1000px;
}
#hidden-resizer2 { /* need same settings for same width */
  font-family: "museo-sans",sans-serif;
  font-size: 32px;
  letter-spacing: 0.04em;
  font-weight: 700;
}
.filter h2 {
  font-family: "museo-sans",sans-serif;
  font-size: 32px;
  font-weight: 100;
  margin: 0 auto;
  position: relative;
  width: 100%;
  text-align: center;
  color: #f0ddff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.13);
}
.filter span.filter {
  color: #fff;
  letter-spacing: 0.04em;
  font-weight: 700;
  border-bottom: 4px solid #9b4ddc;
  padding-bottom: 2px;
  cursor: pointer;
  -webkit-transition: border 0.24s ease-in;
  -o-transition: border 0.24s ease-in;
  transition: border 0.24s ease-in;
  position: relative;
}
.filter span.filter:hover {
	border-bottom: 4px solid #b274e5;
}
.filter span:active {
  top: 1px
}
#container {
  width: 1000px;
  margin: 90px auto 50px;
}
.event {
  position: relative;
  cursor: pointer;
}
.event .overlay {
  border-radius: 4px 4px 4px 4px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: -1px;
  top: 0;
  background: #000;
  opacity: 0;
}
.event img {
  border: 1px solid rgba(1,0,1,.3);
  /* stroke */
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  -webkit-box-shadow: 0 1px 5px rgba(1,0,1,.32);
  box-shadow: 0 1px 5px rgba(1,0,1,.32);
}
.event-info {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: -1px;
  height: 82px;
  padding-top: 18px;
  padding-left: 18px;
  border-radius: 0 0 4px 4px;
  /*background-color: #000000;*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.95)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.95));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.95));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.95));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.95));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.95));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');
  font-family: "museo-sans",sans-serif;
  text-shadow: 0 1px 4px rgba(1,0,1,.7);
}
.event-info h3 {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 100;
  line-height: 36px;
  margin-bottom: 0;
  overflow: hidden;
  padding-right: 25px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.event-info h4 {
 color: #C0BCC2;
  font-size: 17px;
  font-weight: 100;
  line-height: 18px;
  margin-top: 0;
  overflow: hidden;
  padding-right: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.event.flipped {
  border: 1px solid #000;
  /* stroke */
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  -webkit-box-shadow: 0 1px 6px rgba(1, 0, 1, 0.32), 0 0 110px rgba(0, 0, 0, 0.7) inset, 0 -1px 2px 0 rgba(255, 255, 255, 0.52) inset;
  box-shadow: 0 1px 6px rgba(1, 0, 1, 0.32), 0 0 110px rgba(0, 0, 0, 0.7) inset, 0 -1px 2px 0 rgba(255, 255, 255, 0.52) inset;
  background: url('/static/img/flipped-background.png') repeat;
}
.event-info-expanded {
  font-family: "museo-sans",sans-serif;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-weight: 100;
  text-shadow: 0 1px 1px rgba(1,0,1,.2);
}
.event-info-expanded h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 100;
  padding-top: 16px;
  padding-bottom: 8px;
}
.event-info-expanded p {
  color: #ddd6e1;
  font-size: 16px;
}
.event-info-expanded h3 + p {
  margin-bottom: 2px
}
.event-info-expanded a {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* border radius */
  background-color: #fceb97;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 235, 151)), to(rgb(225, 207, 113)));
  background-image: -webkit-linear-gradient(top, rgb(252, 235, 151), rgb(225, 207, 113));
  background-image: -o-linear-gradient(top, rgb(252, 235, 151), rgb(225, 207, 113));
  background-image: -ms-linear-gradient(top, rgb(252, 235, 151), rgb(225, 207, 113));
  background-image: linear-gradient(top, rgb(252, 235, 151), rgb(225, 207, 113));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fceb97', EndColorStr='#e1cf71');
  display: block;
  height: 30px;
  margin: 32px auto 10px;
  width: 140px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  color: #2a0e3e;
  font-weight: 500;
  line-height: 29px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6), 0 1px 1px rgba(255, 255, 255, 0.5) inset;
}
.event-info-expanded a:hover {
  background-color: #f9eeb9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(249, 238, 185)), to(rgb(239, 224, 146)));
  background-image: -webkit-linear-gradient(top, rgb(249, 238, 185), rgb(239, 224, 146));
  background-image: -o-linear-gradient(top, rgb(249, 238, 185), rgb(239, 224, 146));
  background-image: -ms-linear-gradient(top, rgb(249, 238, 185), rgb(239, 224, 146));
  background-image: linear-gradient(top, rgb(249, 238, 185), rgb(239, 224, 146));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9eeb9', EndColorStr='#efe092');
  text-decoration: none;
}
.event-info-expanded a:active {
  top: 1px
}
/* Card flipping code.  Derived from http://davidwalsh.name/css-flip */
/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  padding: 5px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flipper {
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.event.front, .event.flipped {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.event.front {
  z-index: 2
}
/* back, initially hidden pane */
.event.flipped {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#hidden-resizer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 100;
  line-height: 36px;
  font-family: "museo-sans",sans-serif;
}
#hidden-resizer2 {
  position: fixed;
  bottom: 0;
  left: 0;
}
.img-div {
  background-size: cover;
}
#type-select {
  background: url("/static/img/arrow.png") no-repeat scroll left top transparent;
  font-size: 23px;
  font-weight: 700;
  left: 185px;
  padding-left: 35px;
  position: absolute;
  text-align: left;
  top: 64px;
  width: 595px;
  height: 22px;
  padding-top: 6px;
}
#type-select ul {
  list-style: none;
  margin: 0;
}
#type-select ul li {
  float: left;
  line-height: 24px;
  margin-right: 22px;
  padding-left: 8px;
    -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
#type-select ul li.active {
    display: none;
}
#type-select ul li:hover {
  border-left: 4px solid #9b4ddc;
}
#type-select ul li a {
  color: #F6EBFF;
  text-decoration: none;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
#type-select ul li a:hover {
  color: #fff;
}
#type-select ul li a:active {
  top: 1px;
}
#filter-time-input-wrap {
  left: 650px;
  position: absolute;
  top: 0px;
}
#filter-time-input, #hidden-resizer2 {
  background: none;
  border: 0;
  padding: 9px;
  color: #fff;
  letter-spacing: 0.04em;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0,0,0,0.13);
  font-size: 32px;
  font-family: "museo-sans",sans-serif;
  outline: none;
   -webkit-appearance: none;
   box-shadow: none;
}
#filter-time-input:focus {
  outline-color: transparent;
  outline-style: none;
  -webkit-appearance: none;
  outline: 0;
  box-shadow: none;
}
#filter-time {
  width: 100px;
  display: inline-block;
  padding-bottom: 1px;
}
