<!DOCTYPE html>
<html>
  <head>
    <title>Unboring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/style.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="//use.typekit.net/wge0frt.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div id="logo"></div>
    <div class="filter">
      <h2><span class="filter" id="filter-type">Everything</span> to do <span id="location" style="display: none;">in <span class="filter" id="filter-location">New York City</span> </span><span class="filter" id="time">today</span>.</h2>
    </div>
    <div id="container">
    </div>

    <script src="/static/js/jquery-1.10.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
