<!DOCTYPE html>
<html>
  <head>
    <title>Unboring</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/style.css" rel="stylesheet" media="screen">
    <link href="static/css/isotope.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="//use.typekit.net/wge0frt.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div id="logo"></div>
    <div class="filter">
      <h2><span class="filter" id="filter-type">Everything</span> to <span class="verb">do</span> <span id="location" style="display: none;">in 
        <span class="filter replaceable" id="filter-location">New York City</span><span id="filter-location-input-wrap" style="display: none;"><input type="text" class="filter-input" id="filter-location-input"></span></span>
        <span class="filter replaceable" id="filter-time">today</span><span id="filter-time-input-wrap" style="display: none;"><input type="text" name="filter-time-input" class="filter-input" id="filter-time-input"></span>.
      <div id="type-select" style="display: none;">
        <ul>
          <li class="active"><a class="choice" data-choice="everything" data-verb="do" href="#">Everything</a></li>
          <li><a class="choice" data-choice="concerts" data-verb="see" href="#">Concerts</a></li>
          <li><a class="choice" data-choice="games" data-verb="go to" href="#">Games</a></li>
          <li><a class="choice" data-choice="theater" data-verb="partake of" href="#">Theater</a></li>
          <li><a class="choice" data-choice="movies" data-verb="watch" href="#">Movies</a></li>
        </ul>
      </div>
    </div>
    <div id="container">
    </div>
    <div id="hidden-resizer" style="visibility: hidden"></div>
    <div id="hidden-resizer2" style="visibility: hidden"></div> <!-- giving it this name to make this all *that much more* hacky -->
    <script src="/static/js/jquery-1.10.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.isotope.min.js"></script>
    <script src="/static/js/jquery.isotope.perfectmasonry.js"></script>
    <script src="/static/js/date.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="/static/js/jquery.geocomplete.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>


